.lhjz-footer {
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer h3 {
	font-size: 17px;
}

#footer ul {
    padding-left: 0px;
}

#footer ul li {
	list-style-type: none;
}