.lhjz-footer {
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer h3 {
	font-size: 17px;
}

#footer ul {
    padding-left: 0px;
}

#footer ul li {
	list-style-type: none;
}

.lhjz-jumbotron {
	margin-top: 20px;
}

.lhjz-body {
	padding-top: 50px;
}

.lhjz-map {
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
}